@charset "UTF-8";

body{
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

caption{
    font-weight: bold;
    padding-bottom: 10px;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

table{
    border-collapse: collapse;
    background-color: white;
}

.name{
    background-color: lightgoldenrodyellow;
}

.age{
    background-color: lightpink;
}

.sex{
    background-color: lightsalmon;
}

.profession{
    background-color: rgb(228, 182, 255);
}