@charset "UTF-8";

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(106, 106, 106);
    color: white;
    padding: 20px;
}

caption{
    font-weight: bold;
    padding: 20px;
    color: white;
    background-color: black;
}

table{
    border-collapse: collapse;
    background-color: white;
    color: black;
}

th, td{
    border: 1px solid black;
    padding: 12px;
}

tr:nth-child(even){
    background-color: lightgray;
}

div#container{
    overflow-x: auto;
}